---
import Container from "../shared/Container.astro";
import Title from "../shared/Title.astro";

---

<section>
    <Container className="space-y-8">
        <div class="text-center max-w-3xl mx-auto">
            <Title>
                Nossos clientes:
            </Title>
        </div>
        <div class="flex justify-center flex-wrap gap-4">
            <div style="display: flex; align-items: center;" class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/logos/Ambev.png" width="100" height="100" alt="spotify" class=" duration-500 grayscale group-hover:!grayscale-0 group-hover:scale-125">
            </div>
            <div style="display: flex; align-items: center;" class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/logos/Acitel.png" width="100" height="100" alt="spotify" class=" duration-500 grayscale group-hover:!grayscale-0 group-hover:scale-125">
            </div>
            <div style="display: flex; align-items: center;" class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/logos/BancoDayCoval.png" width="100" height="100" alt="spotify" class=" duration-500 grayscale group-hover:!grayscale-0 group-hover:scale-125">
            </div>
            <div style="display: flex; align-items: center;" class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/logos/Bemol.logo.png" width="100" height="100" alt="spotify" class=" duration-500 grayscale group-hover:!grayscale-0 group-hover:scale-125">
            </div>
            <div style="display: flex; align-items: center;" class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/logos/LogoBPNova.png" width="100" height="100" alt="spotify" class=" duration-500 grayscale group-hover:!grayscale-0 group-hover:scale-125">
            </div>
            <div style="display: flex; align-items: center;" class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/logos/BeesBank.png" width="100" height="100" alt="spotify" class=" duration-500 grayscale group-hover:!grayscale-0 group-hover:scale-125">
            </div>
            <div style="display: flex; align-items: center;" class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/logos/Blipay.png" width="100" height="100" alt="spotify" class=" duration-500 grayscale group-hover:!grayscale-0 group-hover:scale-125">
            </div>
            <div style="display: flex; align-items: center;" class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/logos/BoatBrasil.png" width="100" height="100" alt="spotify" class=" duration-500 grayscale group-hover:!grayscale-0 group-hover:scale-125">
            </div>
            <div style="display: flex; align-items: center;" class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/logos/Cogna.png" width="100" height="100" alt="spotify" class=" duration-500 grayscale group-hover:!grayscale-0 group-hover:scale-125">
            </div>
            <div style="display: flex; align-items: center;" class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/logos/Crefaz.png" width="100" height="100" alt="spotify" class=" duration-500 grayscale group-hover:!grayscale-0 group-hover:scale-125">
            </div>
            <div style="display: flex; align-items: center;" class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/logos/EspaçoDatch.png" width="100" height="100" alt="spotify" class=" duration-500 grayscale group-hover:!grayscale-0 group-hover:scale-125">
            </div>
            <div style="display: flex; align-items: center;" class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/logos/fenauto.png" width="100" height="100" alt="spotify" class=" duration-500 grayscale group-hover:!grayscale-0 group-hover:scale-125">
            </div>
            <div style="display: flex; align-items: center;" class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/logos/Globoaves.png" width="100" height="100" alt="spotify" class=" duration-500 grayscale group-hover:!grayscale-0 group-hover:scale-125">
            </div>
            <div style="display: flex; align-items: center;" class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/logos/logo_vertti 1.png" width="100" height="100" alt="spotify" class=" duration-500 grayscale group-hover:!grayscale-0 group-hover:scale-125">
            </div>
            <div style="display: flex; align-items: center;" class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/logos/LogsUp.png" width="100" height="100" alt="spotify" class=" duration-500 grayscale group-hover:!grayscale-0 group-hover:scale-125">
            </div>
            <div style="display: flex; align-items: center;" class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/logos/MaterDei.png" width="100" height="100" alt="spotify" class=" duration-500 grayscale group-hover:!grayscale-0 group-hover:scale-125">
            </div>
            <div style="display: flex; align-items: center;" style="display: flex; align-items: center;" class="p-4 sm:p-5 rounded-xl  bg-body border border-box-border group">
                <img src="/logos/PBShopping.png" width="100" height="100" alt="spotify" class=" duration-500 grayscale group-hover:!grayscale-0 group-hover:scale-125">
            </div>
            <div style="display: flex; align-items: center;" class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/logos/SaborSul.png" width="100" height="100" alt="spotify" class=" duration-500 grayscale group-hover:!grayscale-0 group-hover:scale-125">
            </div>
            <div style="display: flex; align-items: center;" class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/logos/Silimed.png" width="100" height="100" alt="spotify" class=" duration-500 grayscale group-hover:!grayscale-0 group-hover:scale-125">
            </div>
            <div style="display: flex; align-items: center;" class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/logos/UPlannerYellow.png" width="100" height="100" alt="spotify" class=" duration-500 grayscale group-hover:!grayscale-0 group-hover:scale-125">
            </div>
            <div style="display: flex; align-items: center;" class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/logos/DrogariaLogo.png" width="100" height="100" alt="spotify" class=" duration-500 grayscale group-hover:!grayscale-0 group-hover:scale-125">
            </div>
            <div style="display: flex; align-items: center;" class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/logos/BancosMercados.png" width="100" height="100" alt="spotify" class=" duration-500 grayscale group-hover:!grayscale-0 group-hover:scale-125">
            </div>
            <!-- <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/logos/slack.png" width="100" height="60" alt="slack" class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/logos/paypallogo.png" width="100" height="60" alt="paypal" class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/logos/spotify.png" width="100" height="60" alt="spotify" class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/logos/slack.png" width="100" height="60" alt="slack" class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/logos/paypallogo.png" width="100" height="60" alt="paypal" class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/logos/spotify.png" width="100" height="60" alt="spotify" class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/logos/slack.png" width="100" height="60" alt="slack" class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/logos/paypallogo.png" width="100" height="60" alt="paypal" class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/logos/spotify.png" width="100" height="60" alt="spotify" class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/logos/slack.png" width="100" height="60" alt="slack" class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/logos/paypallogo.png" width="100" height="60" alt="paypal" class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105"> -->
            </div>
        </div>
    </Container>
</section>