---
import Cliente from '../components/nps/Cliente.astro';
import Header from '../components/nps/Cliente.astro';
import Importacao from '../components/nps/Importacao.astro';
import Layout from '../layouts/LayoutSaiba.astro';
---

<Layout title="Importação">
	<main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
   <Importacao/>
  </main>
</Layout>