---
import Contato from '../components/sections/Contato.astro';
import LayoutSaiba from '../layouts/LayoutSaiba.astro';
import HeroSaibaMais from '../components/sections/HeroSaibaMais.astro';
---

<LayoutSaiba title=": Contato">
	<main class="flex flex-col overflow-hidden">
		<HeroSaibaMais/>
		<Contato/>
	</main>
</LayoutSaiba>