---
import Contato from '../components/sections/Contato.astro';
import Layout from '../layouts/Layout.astro';
import HeroSaibaMais from '../components/sections/HeroSaibaMais.astro';
---

<Layout title="Contato">
	<main class="flex flex-col overflow-hidden">
		<HeroSaibaMais/>
		<Contato/>
	</main>
</Layout>