---
import Contato from '../components/sections/Contato.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Contato">
	<main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
	<Contato/>
	</main>
</Layout>